
<h2>Meeting</h2>
<div class="btn-group">
    <a href="/#/Meetings/" class="btn btn-info">view meetings</a>
    <a href="/#/Meetings/Create" class="btn btn-default btn-info">add meeting</a>
</div>

<h2>Project</h2>
<div class="btn-group">
    <a href="/#/Projects/" class="btn btn-info">view projects</a>
    <a href="/#/Projects/Create" class="btn btn-info">add project</a>
</div>

