@{
}
<h1>Report to me!</h1>

<h2>Meeting</h2>
<input type="button" id="btnAddMeeting" />
<input type="button"  id="btnViewMeetings" />

<h2>Project</h2>
<input type="button" id="btnAddProject" />
<input type="button"  id="btnViewProjects" /> 

