@{
}
<h1>Report to me!</h1>

<h2>Meeting</h2>
<div class="btn-group">
    <input type="button" id="btnAddMeeting" value="Add meeting" class="btn" />
    <input type="button" id="btnViewMeetings" value="View meetings" class="btn" />
</div>

<h2>Project</h2>
<div class="btn-group">

    <input type="button" id="btnAddProject" value="Add project" class="btn" />
    <input type="button" id="btnViewProjects" value="View projects" class="btn" />
</div>

